<%= render 'layerbegin' %>
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h3>订单管理</h3>
    </div>
    <div class="ibox-content">
      <table class="table table-hover table-bordered text-center">
        <thead>
        <tr>
          <th class="text-center">商家</th>
          <th class="text-center">订单编号</th>



          <th class="text-center">订单状态</th>
          <th class="text-center">下单时间</th>
          <th class="text-center">开票信息</th>
          <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        <% count =0 %>
        <% @buycars.each do |buycar| %>
            <% count +=1 %>
            <tr>
              <td>
                <% order=buycar.orders.first %>
                <% if order %>
                    <% busine=Busine.find(order.busine_id) %>
                    <%= busine.name %>
                <% end %>
              </td>
              <td>
                <%= buycar.ordernumber %>
              </td>

              <td>


                <% deliveorders=buycar.deliveorders %>
                <% if  deliveorders.count >0 && session[:dgtid] ==0 %>
                    <span class="text-success">已发货</span>
                <% elsif session[:dgtid] ==0 %>
                    <span class="text-warning">未发货</span>
                <% end %>

                <% if session[:dgtid].to_i > 0 %>

                    <% dgtdeliveorders = buycar.deliveorders.where('dgt_id =?',session[:dgtid]) %>
                    <% if dgtdeliveorders.count > 0 %>
                        <span class="text-success">已发货</span>
                    <% else %>
                        <span class="text-warning">未发货</span>
                    <% end %>

                <% end %>





              </td>
              <td><%= buycar.updated_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
              <td>
                <% if buycar.invoicestatus.to_s =='1' %>
                <span class="text-warning">需要发票</span>
                    <% elsif buycar.invoicestatus.to_s =='2' %>
                <span class="text-success">已开发票</span>
                    <% else %>
                &nbsp;
                <% end %>
              </td>
              <td>
                <%= link_to '编辑',edit_dgtorder_path(buycar) %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <div class="text-center">
        <table align="center">
          <tr>
            <td>
              记录数：<%= count %>
              &nbsp;
            </td>

            <td>
              <%= will_paginate @buycars, renderer: BootstrapPagination::Rails %>
            </td>
          </tr>
        </table>
      </div>
      <br>
    </div>
  </div>
</div>
<%=render 'layerend' %>