<script>
    $(document).ready(function(){

        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });

if($('#enable').val()==''){
    $('#enable').val('1');
}
        if($('#enable').val()== '0' ){
            $('#enablecheck').iCheck('uncheck');
        }else{
            $('#enablecheck').iCheck('check');
        }
            $('#enablecheck').on('ifChecked',function(event){
                $('#enable').val(1);
            });
        $('#enablecheck').on('ifUnchecked',function(event){
            $('#enable').val(0);
        });

        if($('#once').val()==''){
            $('#once').val('1');
        }

        if($('#once').val()== '0' ){
            $('#oncecheck').iCheck('uncheck');
        }else{
            $('#oncecheck').iCheck('check');
        }
        $('#oncecheck').on('ifChecked',function(event){
            $('#once').val(1);
        });
        $('#oncecheck').on('ifUnchecked',function(event){
            $('#once').val(0);
        });

        $('#buyproductselect').change(function(){
            $('#buyproductid').val($(this).val());
        });

        if($('#buyproductid').val()!=''){
            $('#buyproductselect').val($('#buyproductid').val());
        }

        $('#giveproductselect').change(function(){
            $('#giveproductid').val($(this).val());
        });

        if($('#giveproductid').val()!=''){
            $('#giveproductselect').val($('#giveproductid').val());
        }

        $('#selectproduct').change(function(){
            $('#productInput').val($(this).val());
        });

        $('#selectbusine').change(function(){
            $('#busineInput').val($(this).val());
        });


        $("#data_1 .input-group.date").datepicker({todayBtn:"linked",keyboardNavigation:!1,forceParse:!1,calendarWeeks:!0,autoclose:!0});
        $("#data_2 .input-group.date").datepicker({todayBtn:"linked",keyboardNavigation:!1,forceParse:!1,calendarWeeks:!0,autoclose:!0});

    });

</script>
<div class="col-md-12 ibox ibox-content">
  <div class="ibox-content form-horizontal m-t">
    <div class="form-group">
      <%= form_for(@giveaway,:html => {:class=>'form-horizontal m-t',:multipart => true}) do |f| %>

          <div class="form-group">
            <label class="col-sm-3 control-label">活动名称：</label>
            <div class="col-sm-5">
              <%= f.text_field :name,class:"form-control" %>
            </div>
          </div>
          <div class="form-group">

            <label class="col-sm-3 control-label">启用：</label>
            <div class="col-sm-5">
              <%= f.hidden_field :enable,class:"form-control", id:'enable' %>
              <label>
                <input type="checkbox" class="i-checks" id="enablecheck"></label>
            </div>
          </div>
          <div class="form-group" id="data_1">
            <label class="col-sm-3 control-label">开始时间：</label>

              <div class="input-group date col-sm-5">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <%= f.text_field :begindate,class:"form-control" %>
              </div>
          </div>
          <div class="form-group" id="data_2">
            <label class="col-sm-3 control-label">结束时间：</label>

            <div class="input-group date col-sm-5">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              <%= f.text_field :enddate,class:"form-control" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">合计购买数量：</label>
            <div class="col-sm-5">
              <%= f.text_field :buynum,class:"form-control" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">赠送商品：</label>
            <div class="col-sm-5">
              <%= f.text_field :giveproduct_id,class:"form-control",id:'giveproductid' %>
              <select class="form-control m-b" id="giveproductselect">
                <option value=0></option>
                <% @products.each do |product| %>
                    <option value=<%= product.id %> ><%= product.name %></option>
                <% end %>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">赠送数量：</label>
            <div class="col-sm-5">
              <%= f.text_field :givenum,class:"form-control" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">限购一次：</label>
            <div class="col-sm-5">
              <%= f.hidden_field :once,class:"form-control", id:'once' %>
              <label>
                <input type="checkbox" class="i-checks" id="oncecheck"></label>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-5 text-right">
              <%= f.submit '确定',class: "btn btn-w-m btn-primary ",id:'smt' %>&nbsp;<%= link_to "返回",admins_path,class: "btn btn-w-m btn-primary " %>
            </div>
          </div>
      <% end %>
    </div>




    <p>&nbsp;</p>
    <div class="row">
      <div class="col-sm-12">
        <span>参与活动商品</span>
        <hr style="margin-top:0px;">
      </div>
    </div>



    <div class="table-responsive m-t">
      <table class="table invoice-table">
        <thead>
        <tr>
          <th>产品名称</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>

            <% @giveawayproducts.each do |giveawayproduct| %>
                <% product=Product.find(giveawayproduct.product_id) %>
                <tr>
                  <td>
                    <strong><%=product.name %></strong>
                  </td>
                  <td><%= link_to '删除', [giveawayproduct.giveaway,giveawayproduct], method: :delete, data: { confirm: '确认删除?' } %></td>
                </tr>
            <% end %>

        </tbody>
      </table>
    </div>


    <div class="ibox-content form-horizontal m-t">
      <div class="form-group">
        <%= form_for([@giveaway, @giveaway.giveawayproducts.build]) do |f| %>
            <div class="form-group">
              <label class="col-sm-8 control-label">产品名称：</label>
              <div class="col-sm-4">
                <%= f.hidden_field :product_id,class:'form-control',id:"productInput" %>
                <select class="form-control m-b" id="selectproduct">
                  <option value=0>请选择产品</option>
                  <% @products.each do |product| %>
                      <option value=<%= product.id %> ><%= product.name %></option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-8 control-label"></label>
              <div class="col-sm-4 text-right">
                <%= f.submit '确定', class:"btn btn-w-m btn-primary" %>

              </div>
            </div>
        <% end %>

      </div>
    </div>





    <div class="row">
      <div class="col-sm-12">
        <span>已参与活动商家</span>
        <hr style="margin-top:0px;">
      </div>
    </div>



    <div class="table-responsive m-t">
      <table class="table invoice-table">
        <thead>
        <tr>
          <th>商家名称</th>
          <th>参与次数</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>

        <% @giveawaybusines.each do |giveawaybusine| %>
            <% busine=Busine.find(giveawaybusine.busine_id) %>
            <tr>
              <td>
                <strong><%=busine.name %></strong>
              </td>
              <td><%= giveawaybusine.times %></td>
              <td><%= link_to '删除', [giveawaybusine.giveaway,giveawaybusine], method: :delete, data: { confirm: '确认删除?' } %></td>
            </tr>
        <% end %>

        </tbody>
      </table>
    </div>


    <div class="ibox-content form-horizontal m-t">
      <div class="form-group">
        <%= form_for([@giveaway, @giveaway.giveawaybusines.build]) do |f| %>
            <div class="form-group">
              <label class="col-sm-8 control-label">商家名称：</label>
              <div class="col-sm-4">
                <%= f.hidden_field :busine_id,class:'form-control',id:"busineInput" %>
                <%= f.hidden_field :times,class:'form-control',value:'1' %>
                <select class="form-control m-b" id="selectbusine">
                  <option value=0>请选择商家</option>
                  <% @busines.each do |busine| %>
                      <option value=<%= busine.id %> ><%= busine.name %></option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-8 control-label"></label>
              <div class="col-sm-4 text-right">
                <%= f.submit '确定', class:"btn btn-w-m btn-primary" %>

              </div>
            </div>
        <% end %>

      </div>
    </div>




  </div>
</div>
